/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.scene{
	-fx-background-color: #f8eadb;
}

.button{
	-fx-font-family: "Abhaya";
	-fx-font-weight: normal;
	-fx-font-size: 15pt;
	-fx-text-base-color: #1849af;
	
}

#text{
/* 	-fx-font-family: "Abhaya";
	-fx-font-style: italic;
	-fx-font-size: 20pt;
	-fx-color: #1849af;
	*/
	
	-fx-font: normal italic 20px "Abhaya"
}

